# Group by
V tomto videu sme sa rozprávali o group by funkcii založenej na princípe split-apply-combine

In [1]:
import pandas as pd 
import numpy as np 

df = pd.read_csv("dataset/train.csv")
df.shape
#as_index=False, sort=True

(1460, 81)

In [2]:
df.MSZoning.value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [3]:
# Group by funkcia nevracia priamo zoskupenie ale generator
df.groupby("MSZoning")

In [4]:
# Nasledne na group  by objekt vieme aplikovat bud build in funkciu alebo funkciu apply
df.groupby("MSZoning").mean()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
MSZoning,,,,,,,,,,,,,,,,,,,,,
C (all),605.200000,56.000000,69.700000,9501.300000,3.900000,4.600000,1924.100000,1958.200000,0.000000,222.800000,...,9.800000,64.400000,82.500000,0.000000,9.900000,0.000000,61.400000,7.700000,2008.300000,74528.000000
FV,707.030769,90.461538,59.491228,6638.861538,7.200000,5.030769,2004.507692,2004.830769,140.806452,327.892308,...,57.276923,103.476923,0.000000,0.000000,3.046154,0.000000,0.000000,6.276923,2007.846154,214014.061538
RH,860.437500,80.312500,58.923077,7380.062500,5.250000,5.562500,1945.687500,1971.937500,57.812500,312.750000,...,67.625000,28.250000,58.687500,0.000000,0.000000,0.000000,0.000000,7.500000,2007.500000,131558.375000
RL,737.277150,49.374457,74.680043,11571.814075,6.190269,5.535187,1975.461338,1985.659427,112.260908,492.514335,...,105.133797,45.141616,16.892268,4.192007,16.841877,3.499566,47.749783,6.317116,2007.824500,191004.994787
RM,697.926606,84.931193,52.366834,6379.775229,5.454128,5.995413,1943.256881,1976.894495,56.169725,239.839450,...,53.600917,38.275229,49.752294,0.701835,10.582569,0.000000,36.330275,6.211009,2007.761468,126316.830275

In [5]:
df.groupby("MSZoning").count()

,Id,MSSubClass,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
MSZoning,,,,,,,,,,,,,,,,,,,,,
C (all),10,10,10,10,10,2,10,10,10,10,...,10,0,3,2,10,10,10,10,10,10
FV,65,65,57,65,65,24,65,65,65,65,...,65,0,1,0,65,65,65,65,65,65
RH,16,16,13,16,16,2,16,16,16,16,...,16,0,2,0,16,16,16,16,16,16
RL,1151,1151,922,1151,1151,20,1151,1151,1151,1151,...,1151,7,229,45,1151,1151,1151,1151,1151,1151
RM,218,218,199,218,218,43,218,218,218,218,...,218,0,46,7,218,218,218,218,218,218

In [6]:
# Group by vieme aplikovat aj na viacero stlpcov sucasne, presne ako v pripade group by v SQL 
df.Alley.value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [7]:
df.groupby(["MSZoning", "Alley"]).count()

                Id  MSSubClass  LotFrontage  LotArea  Street  LotShape  \
MSZoning Alley
C (all)  Pave    2           2            2        2       2         2
FV       Pave   24          24           24       24      24        24
RH       Pave    2           2            2        2       2         2
RL       Grvl   14          14           14       14      14        14
         Pave    6           6            4        6       6         6
RM       Grvl   36          36           33       36      36        36
         Pave    7           7            7        7       7         7

                LandContour  Utilities  LotConfig  LandSlope  ...  PoolArea  \
MSZoning Alley                                                ...
C (all)  Pave             2          2          2          2  ...         2
FV       Pave            24         24         24         24  ...        24
RH       Pave             2          2          2          2  ...         2
RL       Grvl            14         14         14         14  ...        14
         Pave             6          6          6          6  ...         6
RM       Grvl            36         36         36         36  ...        36
         Pave             7          7          7          7  ...         7

                PoolQC  Fence  MiscFeature  MiscVal  MoSold  YrSold  SaleType  \
MSZoning Alley
C (all)  Pave        0      1            0        2       2       2         2
FV       Pave        0      0            0       24      24      24        24
RH       Pave        0      0            0        2       2       2         2
RL       Grvl        0      3            2       14      14      14        14
         Pave        0      2            0        6       6       6         6
RM       Grvl        0     11            2       36      36      36        36
         Pave        0      1            0        7       7       7         7

                SaleCondition  SalePrice
MSZoning Alley
C (all)  Pave               2          2
FV       Pave              24         24
RH       Pave               2          2
RL       Grvl              14         14
         Pave               6          6
RM       Grvl              36         36
         Pave               7          7

[7 rows x 79 columns]

In [8]:
# Pre zachovanie stpcov z group by funkcie pouzijeme parameter as_index rovny False
df.groupby(["MSZoning", "Alley"], as_index=False).count()

,MSZoning,Alley,Id,MSSubClass,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,C (all),Pave,2,2,2,2,2,2,2,2,...,2,0,1,0,2,2,2,2,2,2
1,FV,Pave,24,24,24,24,24,24,24,24,...,24,0,0,0,24,24,24,24,24,24
2,RH,Pave,2,2,2,2,2,2,2,2,...,2,0,0,0,2,2,2,2,2,2
3,RL,Grvl,14,14,14,14,14,14,14,14,...,14,0,3,2,14,14,14,14,14,14
4,RL,Pave,6,6,4,6,6,6,6,6,...,6,0,2,0,6,6,6,6,6,6
5,RM,Grvl,36,36,33,36,36,36,36,36,...,36,0,11,2,36,36,36,36,36,36
6,RM,Pave,7,7,7,7,7,7,7,7,...,7,0,1,0,7,7,7,7,7,7

In [9]:
# Vysledok group by vieme aj zoradit podla group by stlpcov s parametrom sort = True
df.groupby(["MSZoning", "Alley"], sort=True).count()

                Id  MSSubClass  LotFrontage  LotArea  Street  LotShape  \
MSZoning Alley
C (all)  Pave    2           2            2        2       2         2
FV       Pave   24          24           24       24      24        24
RH       Pave    2           2            2        2       2         2
RL       Grvl   14          14           14       14      14        14
         Pave    6           6            4        6       6         6
RM       Grvl   36          36           33       36      36        36
         Pave    7           7            7        7       7         7

                LandContour  Utilities  LotConfig  LandSlope  ...  PoolArea  \
MSZoning Alley                                                ...
C (all)  Pave             2          2          2          2  ...         2
FV       Pave            24         24         24         24  ...        24
RH       Pave             2          2          2          2  ...         2
RL       Grvl            14         14         14         14  ...        14
         Pave             6          6          6          6  ...         6
RM       Grvl            36         36         36         36  ...        36
         Pave             7          7          7          7  ...         7

                PoolQC  Fence  MiscFeature  MiscVal  MoSold  YrSold  SaleType  \
MSZoning Alley
C (all)  Pave        0      1            0        2       2       2         2
FV       Pave        0      0            0       24      24      24        24
RH       Pave        0      0            0        2       2       2         2
RL       Grvl        0      3            2       14      14      14        14
         Pave        0      2            0        6       6       6         6
RM       Grvl        0     11            2       36      36      36        36
         Pave        0      1            0        7       7       7         7

                SaleCondition  SalePrice
MSZoning Alley
C (all)  Pave               2          2
FV       Pave              24         24
RH       Pave               2          2
RL       Grvl              14         14
         Pave               6          6
RM       Grvl              36         36
         Pave               7          7

[7 rows x 79 columns]

In [10]:
# Na group by objekt vieme aplikovat aj vlastnu funkciu s pouzitim funkcie vyssieho radu apply
# platia tu pravidla z predchadzajucej lekcie 

def total_area(group_df):
    """
    Ked chcem z vlastnej funkcie vratit viac stlpcov staci vratit pandas Series objekt kde index bude tvorit nazvy stlpcov
    """
    return pd.Series([(group_df.LotArea + group_df.LotFrontage).sum(), (group_df.LotArea + group_df.LotFrontage).mean()], index=["sum", "mean"])

df.groupby(["MSZoning"]).apply(total_area)

                 sum          mean
MSZoning
C (all)      95710.0   9571.000000
FV          401857.0   7050.122807
RH           90710.0   6977.692308
RL        10144782.0  11003.017354
RM         1303061.0   6548.045226

In [11]:
# Pouzite group by apply spolu s lambda funkciou
df.groupby(["MSZoning"]).apply(lambda group_df: pd.Series([
    (group_df.LotArea + group_df.LotFrontage).sum(), 
    (group_df.LotArea + group_df.LotFrontage).mean()], index=["sum", "mean"]))

                 sum          mean
MSZoning
C (all)      95710.0   9571.000000
FV          401857.0   7050.122807
RH           90710.0   6977.692308
RL        10144782.0  11003.017354
RM         1303061.0   6548.045226