# Práca s textom 
V pandase poznáme dva druhy stĺpcov, ktoré vedia pracovať s textom: 
- **object** - v minulosti sa dal pouzivat iba tento typ pretoze pandas si nemohol byt isty ze v stlpci budu len stringy
- **StringDtype** - momnentalne experimentalna featura, ktora ma velky potencial. Je odporucane pracovat s StringArray radsej ako s object, ked pracujeme s textom

In [24]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('dataset/train.csv')
df_texts = df.loc[:,df.dtypes == np.object]
df_texts.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1,RL,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
2,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
3,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Abnorml
4,RL,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [19]:
# Ako contertovat series object na stringArray. 
df_texts.MSZoning.astype('string')

0       RL
1       RL
2       RL
3       RL
4       RL
        ..
1455    RL
1456    RL
1457    RL
1458    RL
1459    RL
Name: MSZoning, Length: 1460, dtype: string

In [23]:
# Mozme convertovat aj cely df
df_texts.astype('string')

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,RL,Pave,<NA>,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal
1,RL,Pave,<NA>,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,...,Attchd,RFn,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal
2,RL,Pave,<NA>,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal
3,RL,Pave,<NA>,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,<NA>,<NA>,<NA>,WD,Abnorml
4,RL,Pave,<NA>,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,...,Attchd,RFn,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,RL,Pave,<NA>,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,Attchd,RFn,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal
1456,RL,Pave,<NA>,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,Norm,...,Attchd,Unf,TA,TA,Y,<NA>,MnPrv,<NA>,WD,Normal
1457,RL,Pave,<NA>,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,Norm,...,Attchd,RFn,TA,TA,Y,<NA>,GdPrv,Shed,WD,Normal
1458,RL,Pave,<NA>,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal
1459,RL,Pave,<NA>,Reg,Lvl,AllPub,Inside,Gtl,Edwards,Norm,...,Attchd,Fin,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal

In [27]:
# vsimnite si NaN hodnoty. Nan hodnota je cislo ale string nie je cislo preto pandas pouzil takyto workaround aspon pre zatial.
type(df_texts.astype('string').loc[1,'Alley'])

pandas._libs.missing.NAType

# Textove metody
Ja to sice oznacujem ako text ale text moze byt aj cislo

In [31]:
df_texts.Neighborhood.head()

0    CollgCr
1    Veenker
2    CollgCr
3    Crawfor
4    NoRidge
Name: Neighborhood, dtype: object

In [82]:
# vzdy pouzijem .str pred samotnou metodou
df_texts.Neighborhood.str.lower().head()

0    collgcr
1    veenker
2    collgcr
3    crawfor
4    noridge
Name: Neighborhood, dtype: object

***Dalsie moznosti***
- upper()
- len()

In [83]:
# Praca s viareymi slovami
string_series=pd.Series([
    'Michal Hucko', 'Bratislava', 'Luis Felipe Melo Mora', ' medzeri ', ' enter\n', 'tab\t '])

# Alebo ked chcem pracovat priamo ako string
string_series_future=pd.Series([
    'Michal Hucko', 'Bratislava', 'Luis Felipe Melo Mora', ' medzeri ', ' enter\n', 'tab\t '], dtype='string')

string_series

0             Michal Hucko
1               Bratislava
2    Luis Felipe Melo Mora
3                 medzeri
4                  enter\n
5                   tab\t
dtype: object

In [48]:
string_series.str.strip().values

array(['Michal Hucko', 'Bratislava', 'Luis Felipe Melo Mora', 'medzeri',
       'enter', 'tab'], dtype=object)

In [84]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [50]:
# Str vieme pouzit aj nad nazvami stlpcov
df.columns.str.upper()

Index(['ID', 'MSSUBCLASS', 'MSZONING', 'LOTFRONTAGE', 'LOTAREA', 'STREET',
       'ALLEY', 'LOTSHAPE', 'LANDCONTOUR', 'UTILITIES', 'LOTCONFIG',
       'LANDSLOPE', 'NEIGHBORHOOD', 'CONDITION1', 'CONDITION2', 'BLDGTYPE',
       'HOUSESTYLE', 'OVERALLQUAL', 'OVERALLCOND', 'YEARBUILT', 'YEARREMODADD',
       'ROOFSTYLE', 'ROOFMATL', 'EXTERIOR1ST', 'EXTERIOR2ND', 'MASVNRTYPE',
       'MASVNRAREA', 'EXTERQUAL', 'EXTERCOND', 'FOUNDATION', 'BSMTQUAL',
       'BSMTCOND', 'BSMTEXPOSURE', 'BSMTFINTYPE1', 'BSMTFINSF1',
       'BSMTFINTYPE2', 'BSMTFINSF2', 'BSMTUNFSF', 'TOTALBSMTSF', 'HEATING',
       'HEATINGQC', 'CENTRALAIR', 'ELECTRICAL', '1STFLRSF', '2NDFLRSF',
       'LOWQUALFINSF', 'GRLIVAREA', 'BSMTFULLBATH', 'BSMTHALFBATH', 'FULLBATH',
       'HALFBATH', 'BEDROOMABVGR', 'KITCHENABVGR', 'KITCHENQUAL',
       'TOTRMSABVGRD', 'FUNCTIONAL', 'FIREPLACES', 'FIREPLACEQU', 'GARAGETYPE',
       'GARAGEYRBLT', 'GARAGEFINISH', 'GARAGECARS', 'GARAGEAREA', 'GARAGEQUAL',
       'GARAGECOND', 'PAVEDDRIVE', 'WOODDECKSF', 'OPENPORCHSF',
       'ENCLOSEDPORCH', '3SSNPORCH', 'SCREENPORCH', 'POOLAREA', 'POOLQC',
       'FENCE', 'MISCFEATURE', 'MISCVAL', 'MOSOLD', 'YRSOLD', 'SALETYPE',
       'SALECONDITION', 'SALEPRICE'],
      dtype='object')

In [52]:
# str operacie vieme aj retazit 
df.columns.str.lower().str.replace('a', 'misko') # replace je nahradenie stringu stringom

Index(['id', 'mssubclmiskoss', 'mszoning', 'lotfrontmiskoge',
       'lotmiskoremisko', 'street', 'miskolley', 'lotshmiskope',
       'lmiskondcontour', 'utilities', 'lotconfig', 'lmiskondslope',
       'neighborhood', 'condition1', 'condition2', 'bldgtype', 'housestyle',
       'overmiskollqumiskol', 'overmiskollcond', 'yemiskorbuilt',
       'yemiskorremodmiskodd', 'roofstyle', 'roofmmiskotl', 'exterior1st',
       'exterior2nd', 'mmiskosvnrtype', 'mmiskosvnrmiskoremisko',
       'exterqumiskol', 'extercond', 'foundmiskotion', 'bsmtqumiskol',
       'bsmtcond', 'bsmtexposure', 'bsmtfintype1', 'bsmtfinsf1',
       'bsmtfintype2', 'bsmtfinsf2', 'bsmtunfsf', 'totmiskolbsmtsf',
       'hemiskoting', 'hemiskotingqc', 'centrmiskolmiskoir', 'electricmiskol',
       '1stflrsf', '2ndflrsf', 'lowqumiskolfinsf', 'grlivmiskoremisko',
       'bsmtfullbmiskoth', 'bsmthmiskolfbmiskoth', 'fullbmiskoth',
       'hmiskolfbmiskoth', 'bedroommiskobvgr', 'kitchenmiskobvgr',
       'kitchenqumiskol', 'totrmsmiskobvgrd', 'functionmiskol',
       'fireplmiskoces', 'fireplmiskocequ', 'gmiskormiskogetype',
       'gmiskormiskogeyrblt', 'gmiskormiskogefinish', 'gmiskormiskogecmiskors',
       'gmiskormiskogemiskoremisko', 'gmiskormiskogequmiskol',
       'gmiskormiskogecond', 'pmiskoveddrive', 'wooddecksf', 'openporchsf',
       'enclosedporch', '3ssnporch', 'screenporch', 'poolmiskoremisko',
       'poolqc', 'fence', 'miscfemiskoture', 'miscvmiskol', 'mosold', 'yrsold',
       'smiskoletype', 'smiskolecondition', 'smiskoleprice'],
      dtype='object')

In [56]:
# Split dataframu
string_series=pd.Series([
    'Michal_Hucko', 'Katarína_Huckova', 'Andrej_Hucko', "Jano"])
string_series

0        Michal_Hucko
1    Katarína_Huckova
2        Andrej_Hucko
3                Jano
dtype: object

In [57]:
string_series.str.split("_")

0        [Michal, Hucko]
1    [Katarína, Huckova]
2        [Andrej, Hucko]
3                 [Jano]
dtype: object

In [58]:
string_series.str.split("_", expand=True)

          0        1
0    Michal    Hucko
1  Katarína  Huckova
2    Andrej    Hucko
3      Jano     None

In [62]:
temp=string_series.str.split("_", expand=True)
temp.columns=["Name", "Surname"]
temp

       Name  Surname
0    Michal    Hucko
1  Katarína  Huckova
2    Andrej    Hucko
3      Jano     None

In [70]:
# regex replace
string_series=pd.Series([
    'Hucko', 'Huckova', 'Hucko', "Jano", np.nan])
string_series.str.replace("Hucko.*", "hruska", regex=True)

0    hruska
1    hruska
2    hruska
3      Jano
4       NaN
dtype: object

In [85]:
pd.Series([
    'Hucko', 'Huckova', 'Hucko', "Jano", np.nan])

0      Hucko
1    Huckova
2      Hucko
3       Jano
4        NaN
dtype: object

In [87]:
# Concatenacia 
string_series=pd.Series([
    'Hucko', 'Huckova', 'Hucko', "Jano", np.nan])

string_series.str.cat(sep="_", na_rep="Misko") # na_rep nahrani nan hjodnotu

'Hucko_Huckova_Hucko_Jano_Misko'

In [73]:
string_series=pd.Series([
    'Hucko', 'Huckova', 'Hucko', "Jano", np.nan])

string_series2=pd.Series([
    'modra', 'zelena', 'cervena', "hneda", "cierna"])

string_series.str.cat(string_series2)

0       Huckomodra
1    Huckovazelena
2     Huckocervena
3        Janohneda
4              NaN
dtype: object

In [77]:
string_series.str.cat(string_series2, na_rep="")

0           Hucko
1    Huckovamodra
2     Huckozelena
3     Janocervena
4           hneda
dtype: object

In [79]:
# contains
string_series=pd.Series([
    'Michal_Hucko', 'Katarína_Huckova', 'Andrej_Hucko', "Jano"])
string_series.str.contains("Hucko")

0     True
1     True
2     True
3    False
dtype: bool

In [80]:
# match
regex=r".*Hucko.*"
string_series.str.match(regex)

0     True
1     True
2     True
3    False
dtype: bool